.container {
  margin: 20px auto;
  width: 100%;
  padding: 0px 20px 20px 20px;
}

.headline {
  width: 100%;
  text-align: center;
}

.headline h1 {
  color: #FF6A0D;
  font-family: 'bebas_neueregular';
  font-size: 8em;
  font-weight:lighter;
  text-shadow: 0px 10px 0px #C0C0C0;
}

.headline h3 {
  color: #FF6A0D;
}

html {
 position:relative;
 overflow: hidden;
}

#content {
 background: #F1EFEA;
 width: 70%;
 height: auto;
 min-height: 265px;
 margin: auto;
 padding-top: 32px;
 box-shadow: 0 0 5px #888888;
border-radius: 10px;
}

#schlup-button {
 color: white;
 font-family: 'bebas_neueregular';
 font-size: 2.5em;
 font-weight: lighter;
 background-color: #FF6A0D;
 width: 200px;
 height: 60px;
 margin: 0 auto;
 padding-top:15px;
 border-radius: 10px;
 text-align: center;
 text-transform: uppercase;
 box-shadow: 0 0 3px #999;
 cursor:pointer;
}

#schlup-button:hover {
  background-color: #FF8A2D;
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
  opacity: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
}

#schlup {
 font-family: Georgia, serif;
 margin: 32px auto;
 width: 75%;
 text-align: center;
 line-height: 2em;
 color: black;
}

.footer {
  text-align: center;
  color: #FF6A0D;
}
