<div class="headline">
  <h1>SCHLUPWORTHY</h1>
</div>

 <div class="container">
   <div id='content'>
     <div id='schlup-button'>SCHLUP!</div>
     <div id='schlup'>
      <img id='spinner' src='/ajax-loader.gif'>
      <h2 id='schlup-text'>You Are Going To Think These Poor Kids Playing Soccer In The Dirt Are Amazing. We Dare You Not To Cry When You Realize They Don't Have Feet.</h2>
     </div>
   </div>
 </div>

 <div class="footer">
    <h3>Ain't Gonna Schlup Itself...</h3>
 </div>















