<div class="headline">
  <h1>SCHLUPWORTHY</h1>
  <h3>Ain't gonna schlup itself...</h3>
</div>

 <div class="container">
   <div id='content'>
     <div id='schlup-button'>SCHLUP!</div>
     <div id='schlup'></div>
   </div>
 </div>
















